<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Advanced Django Concepts</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">Blah</div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">Foo</div>
      </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>
